body {
  background: #343F44; 
}

.logo {
  width: 70.533px;
  height: 57.459px;
  position: absolute;
  left: 400px;
  top: 10px
}

a {
  font-family: Inter;
  text-decoration: none;
}


.nav {
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 720px;
  top: 30px;
}

.nav a {
  margin-right: 40px;
  transition: color 0.3s ease;
  color: rgba(211, 198, 170, 1);
}

.nav a:hover {
  color: yellow;
}

.logotext {
  position: absolute;
  width: 80.467px;
  height: 51.247px;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  left: 465px;
  top: 19px;
}

.logotext a {
  color: rgba(167, 192, 128, 1);
}

.navbar {
  position: fixed;
  width: 100%;
  height: 81px;
  background: #4F585E;
  z-index: 2;
  top: 0px;
  right: 3px;
}

.loggin {
  display: flex;
  color: white;
  position: absolute;
  width: 103px;
  height: 34px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #748478;
  border-radius: 40px;
  top: 15px;
  right: 355px;
  transition: transform 0.3s ease;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loggin:hover {
  transform: scale(1.1);
}

.signin {
  display: flex;
  color: white;
  position: absolute;
  width: 103px;
  height: 34px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #83C092;
  border-radius: 40px;
  top: 15px;
  right: 200px;
  transition: transform 0.3s ease;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.signin:hover {
  transform: scale(1.1);
}

.username {
  position: absolute;
  top: 8px;
  right: 100px;
  color: white;
  font-size: 20px;
  font-family: Inter;
}

.logout {
  display: flex;
  color: white;
  position: absolute;
  width: 103px;
  height: 34px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: red;
  font-family: Inter;
  border-radius: 40px;
  top: 15px;
  right: 200px;
  transition: transform 0.3s ease;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logout:hover {
  transform: scale(1.1);
}


/* Main */
.enter-div {
  position: absolute;
  width: 801px;
  height: 435px;
  border-radius: 20px;
  background: #232A2E;
  left: 520px;
  top: 280px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.enter-name {
  position: absolute;
  fill: #FFF; 
  width: 649px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  font-family: Inter;  
  top: 78px;
  left: 80px;
}

.enter-passwd {
  position: absolute;
  fill: #FFF; 
  width: 649px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  font-family: Inter;  
  top: 166px;
  left: 80px;
}

.enter-btn {
  position: absolute;
  font-family: Inter;  
  border-radius: 20px;
  background: #A7C080; 
  width: 164px;
  height: 42px;
  top: 305px;
  left: 310px;
}
