body {
  background: #343F44; 
}

.logo {
  width: 70.533px;
  height: 57.459px;
  position: absolute;
  left: 400px;
  top: 10px
}

a {
  font-family: Inter;
  text-decoration: none;
}


.nav {
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 720px;
  top: 30px;
}

.nav a {
  margin-right: 40px;
  transition: color 0.3s ease;
  color: rgba(211, 198, 170, 1);
}

.nav a:hover {
  color: yellow;
}

.logotext {
  position: absolute;
  width: 80.467px;
  height: 51.247px;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  left: 465px;
  top: 19px;
}

.logotext a {
  color: rgba(167, 192, 128, 1);
}

.navbar {
  position: fixed;
  width: 100%;
  height: 81px;
  background: #4F585E;
  z-index: 2;
  top: 0px;
  right: 3px;
}

.loggin {
  position: absolute;
  width: 103px;
  height: 34px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #748478;
  border-radius: 40px;
  top: 15px;
  right: 355px;
  transition: transform 0.3s ease;
}

.loggin:hover {
  transform: scale(1.1);
}

.signin {
  position: absolute;
  width: 103px;
  height: 34px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #83C092;
  border-radius: 40px;
  top: 15px;
  right: 200px;
  transition: transform 0.3s ease;
}

.signin:hover {
  transform: scale(1.1);
}

/*Main*/
.author {
  position: absolute; 
  width: 735px;
  height: 164px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #232A2E;
  left: 420px;
  top: 120px;
}

.genre {
  position: absolute;
  width: 281px;
  height: 767px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #232A2E;
  right: 385px;
  top: 120px;
}

.books {
  position: absolute;
  width: 735px;
  height: 1790px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #232A2E;
  left: 420px;
  top: 312px;
  flex-direction: column;
  display: block;
}


.book img {
  background: white;
  width: 90px;
  height: 110px;
  border-radius: 15px;
  flex-wrap: wrap;
}

.book {
  position: absolute;
  display: inline-block;
  top: 16px;
  left: 40px;
  bottom: 10px;
}


