<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="/static/assets/icon.png" type="image/x-icon">

  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FBook</title>
</head>

<body>
  <!-- Navigation bar -->
  <div class="navbar">
    <img class="logo" src="/static/assets/Logo.svg" alt=":)">
    <div class="logotext"><a href="/">FBook</a></div>

    <div class="nav">
      <a href="/search"><i class="fa-solid fa-magnifying-glass"></i> Поиск</a>
      <a href="#"><i class="fa-solid fa-envelope"></i> Контакты</a>

      <a href="/b/{{ random_book }}">
        <i class="fa-solid fa-shuffle"></i>
        Рандом
      </a>

      <a href="#"><i class="fa-brands fa-github"></i> GitHub</a>
    </div>

    {% if username %}
    <p class="username"><i class="fa-solid fa-user"></i>{{ username }}</p>
    <a href="/logout" class="logout">Выйти</a>
    {% else %}
    <a href="/enter_page" class="loggin">Войти</a>
    <a href="/register_page" class="signin">Cоздать аккаунт</a>
    {% endif %}
  </div>

  <!-- Main  -->
  <div class="main">
    <div class="popular">
      {% for row in book_p %}
      <a href="{{ url_for('book_info', item_id=row[0]) }}">
        <img src="{{ row[6] }}" alt="">
      </a>
      {% endfor %}
    </div>

    <div class="genre">
      <h4>Жанры</h4>
      {% for genre in genre_name %}
      <li class="genre-list">
        <ul><a href="{{ url_for('genre_info', genre_id=genre[0]) }}" class="genre-link">{{ genre[1] }}</a></ul>
      </li>
      {% endfor %}
    </div>

    <div class="books">
      <div class="book" id="book">
        {% for row in img_books %}
        <a href="{{ url_for('book_info', item_id=row[0]) }}">
          <img src="{{ row[6] }}" alt="">
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

<!--Font awesome script-->
<script src="https://kit.fontawesome.com/a5edb9404e.js" crossorigin="anonymous"></script>

</html>
