<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/register_style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FBook</title>
</head>

<body>
  <!-- Navigation bar -->
  <div class="navbar">
    <img class="logo" src="/static/assets/Logo.svg" alt=":)">
    <div class="logotext"><a href="/">FBook</a></div>

    <div class="nav">
      <a href="/search"><i class="fa-solid fa-magnifying-glass"></i> Поиск</a>
      <a href="#"><i class="fa-solid fa-envelope"></i> Контакты</a>

      <a href="/b/{{ random_book }}">
        <i class="fa-solid fa-shuffle"></i>
        Рандом
      </a>

      <a href="#"><i class="fa-brands fa-github"></i> GitHub</a>
    </div>

    {% if username %}
    <p class="username"><i class="fa-solid fa-user"></i>{{ username }}</p>
    <a href="/logout" class="logout">Выйти</a>
    {% else %}
    <a href="/enter_page" class="loggin">Войти</a>
    <a href="/register_page" class="signin">Cоздать аккаунт</a>
    {% endif %}
  </div>

  <!-- Main  -->
  <div class="main">
    <div class="register-div">
      <form action="/create/" method="post" class="register-form">
        <input type="text" id="username" name="username" class="register-name"
          placeholder="Введите ваше имя пользователя"><br>
        <input type="password" id="password" name="password" class="register-passwd"
          placeholder="Введите ваш пароль"><br><br>
        <input type="submit" value="Зарегистрироваться" class="register-enter">
      </form>
    </div>
  </div>
</body>

<!--Font awesome script-->
<script src="https://kit.fontawesome.com/a5edb9404e.js" crossorigin="anonymous"></script>

</html>
