<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/search_s.css">

  <title>Поиск</title>
</head>

<body>
  <!-- Navigation bar -->
  <div class="navbar">
    <img class="logo" src="/static/assets/Logo.svg" alt=":)">
    <div class="logotext"><a href="/">FBook</a></div>

    <div class="nav">
      <a href="/search"><i class="fa-solid fa-magnifying-glass"></i> Поиск</a>
      <a href="/#"><i class="fa-solid fa-envelope"></i> Контакты</a>

      <a href="/b/{{ random_book }}">
        <i class="fa-solid fa-shuffle"></i>
        Рандом
      </a>

      <a href="#"><i class="fa-brands fa-github"></i> GitHub</a>
    </div>

    <a href="#" class="loggin"></a>
    <a href="#" class="signin"></a>
  </div>

  <!-- Main  -->
  <div class="main">
    <form class="form-search" action="/search/" method="get">
      <input class="input-search" type="text" id="item_name" name="name"><br>
      <input class="btn-search" type="submit" value="Найти">
    </form>


    <div class="books">
      <div class="book" id="book">
        <p>{{ e }}</p>
        {% for book in books %}
        <a href="{{ url_for('book_info', item_id=book[0]) }}">
          <img src="{{ book[6] }}" alt="">
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

<!--fontawesome-->
<script src="https://kit.fontawesome.com/a5edb9404e.js" crossorigin="anonymous"></script>

</html>
